body {
    background-color: #404040;
    padding-top: 40px;
}

#social {
    text-align: right;
}

.social-img {
    width: 40px;
    height: auto;
}

.navbar {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.nav-link {
    box-sizing: unset;
    border-radius: 2px;
}

.nav-icon {
    width: 30px;
    height: auto;
}

.jumbo {
    height: 100vh;
    color: white;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.65), 
            rgba(0, 0, 0, 0.65)), 
            url(barber-chair.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
}

#main-content {
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bfbfbf;
}

#about-card {
    text-align: justify;
    background-color: #262626;
    border: 0;
    box-shadow: 10px 10px 20px #000,
        -10px 10px 20px #000;
    max-width: 590px;
}